[Unit]
Description=Wallpaper Changer Daemon

[Service]
ExecStart=/home/<username>/.local/bin/wcd
# This works if you installed wcd with pipx

[Install]
WantedBy=default.target
